.vscode
Codificación\ A\ -\ Pacientes/build
Codificación\ A\ -\ Pacientes/vcpkg
Codificación\ A\ -\ Pacientes/*py
Codificación\ A\ -\ Pacientes/validator/IHTP_Validator
Codificación\ A\ -\ Pacientes/validator/.*
Codificación\ A\ -\ Pacientes/evaluation_results
Codificación\ A\ -\ Pacientes/evaluation_results_2
Codificación\ A\ -\ Pacientes/evaluation_results_test_dataset
Codificación\ A\ -\ Pacientes/*.csv
Codificación\ A\ -\ Pacientes/__pycache__
Codificación\ A\ -\ Pacientes/data
Codificación\ B\ -\ Pacientes\ y\ enfermeros/build
Codificación\ B\ -\ Pacientes\ y\ enfermeros/vcpkg
Codificación\ B\ -\ Pacientes\ y\ enfermeros/*py
Codificación\ B\ -\ Pacientes\ y\ enfermeros/validator/IHTP_Validator
Codificación\ B\ -\ Pacientes\ y\ enfermeros/.*
Codificación\ B\ -\ Pacientes\ y\ enfermeros/evaluation_results
RandomSearch/build
RandomSearch/vcpkg
RandomSearch/*py
RandomSearch/validator/IHTP_Validator
RandomSearch/.*